[Desktop Entry]
Version=1.1
Type=Application
Name=SmmServer
Comment=SmmServer for Mario Maker Wii U
Icon=/usr/share/SmmServer-bin/SmmServer.png
Exec=SmmServer
Actions=
Categories=AdventureGame;Utility;
