[Desktop Entry]
Version=1.1
Type=Application
Name=SmmServer
Comment=SmmServer for Mario Maker Wii U
Icon=/usr/share/smmserver-bin/smmserver.png
Exec=smmserver
Actions=
Categories=AdventureGame;Utility;
